body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.petContainer{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
  justify-items: center;
  justify-content: center;
}

.pet{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
